<% include partials/header %>


<div class="row col-md-11 col-11 my-4 py-4 index-container" style="margin: 0 auto">
    <% for(var i=0 ; i < user.length; i++){ %>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 p-sm-2 p-0 text-center border-right border-left border-primary book-ad">
            <h3><%- user[i].books[0].book_name %> <br> <span class="book_ad_genre"><i> <%- user[i].books[0].genre %> </i> </span></h3>
            <p class="lead font-weight-bold">
                <b class="badge badge-dark">PRICE : $<%= user[i].books[0].price %></b> <br>
                <%- user[i].books[0].author %> <i><%- user[i].books[0].edition %></i>
            </p>
            
            
            <p class="lead">
                <%= user[i].firstname %>  <%- user[i].lastname %><br>
                <span class="small text-truncate"><%- user[i].email %><br> </span>
                <b><%- user[i].phone %></b>
                
                
                
            </p>
        </div>
    <% } %>
</div>



<% include partials/footer %>